* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body {
    background-color: tan;
}

header {
    text-align: center;
    color: teal;
    font-size: 1.25em;
}

.container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction:row-reverse;
    
    
}

.grid {
    width: 600px;
    height: 600px;
    display: grid;
    border-radius: 10px;
    border: 5px solid black;
    background-color: white;
    box-shadow: 5px 20px 30px black;


}

.buttons{
    display:flex;
    padding: 20px;
    margin-left: -150px;
    flex-direction: column;
    gap: 30px;
}

.btn {
   padding: 10px;
   display:flex;
   justify-content: center;
   border-radius: none;
   outline: none;
   background-color: lightblue;

   font-weight: bold;
   letter-spacing: 1px;
   

   
   
   
    

}